@model AgendaMVC.Models.Contato
@{
    ViewBag.Title = "Inserir";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Contato", FormMethod.Post))
{
    <fieldset>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idContato)
        <legend>Dados do contato</legend>
        <div>
            @Html.LabelFor(model => model.nome)
        </div>
        <div>
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div>
            @Html.LabelFor(model => model.empresa)
        </div>
        <div>
            @Html.EditorFor(model => model.empresa)
        </div>

        <div style="margin-top: 20px;">
            <input type="submit" value="Enviar" class="btn btn-success" />
        </div>
    </fieldset>
}
<br />
@Html.ActionLink("Voltar", "Listar", "Contato")
